<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <h1>Signup Page</h1>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    <!-- Main Site -->
    <form action="/api/signup" method="post" id="signup">
      
        <div class="container">
          <label for="name"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="name" required>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit">Sign up</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <!--<div class="container" style="background-color:#f1f1f1"> 
          <button type="button" class="cancelbtn" href="/sign-up"><a href="/sign-up" >New Member</a></button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div> -->
      </form>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->